.DS_Store
designDocument/LaTeX/designDoc.synctex.gz
designDocument/LaTeX/designDoc.out
designDocument/LaTeX/designDoc.log
designDocument/LaTeX/designDoc.fls
designDocument/LaTeX/designDoc.fdb_latexmk
designDocument/LaTeX/designDoc.aux
designDocument/LaTeX/designDoc.pdf
__pycache__/
Project/kristinn_debug.py
Project/isak_debug.py
Project/andri_debug.py
Project/elmar_debug.py
Project/sindri_debug.py
Project/kristjan_debug.py
.vscode/
.idea/Verk1_H1.iml
.idea/dictionaries/project.xml
