.DS_Store
designDocument/LaTeX/designDoc.synctex.gz
designDocument/LaTeX/designDoc.out
designDocument/LaTeX/designDoc.log
designDocument/LaTeX/designDoc.fls
designDocument/LaTeX/designDoc.fdb_latexmk
designDocument/LaTeX/designDoc.aux
designDocument/LaTeX/designDoc.pdf
__pycache__/
Project/kristinn_debug.py
Project/isak_debug.py
Project/kristjan_debug.py